:root{
  --yellow:#bdcd14;
  --gray:#a4a4a3;
  --black:#000;
  --light-black: #060606;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Trispace', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  color: var(--gray);
}
body::-webkit-scrollbar{
  width: 10px;
  background: rgba(0, 0, 0, 1);
}
body::-webkit-scrollbar-thumb{
  width: 10px;
  border-radius: 10px;
  background-color: var(--yellow);
}
.active{
  line-height: 3rem;
  color: var(--yellow);
  border-bottom: 3px solid var(--yellow);
}

/* header */
.header{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 9)), url('../images/portfolio-medium.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.header__container-head--logo{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 20px;
  z-index: 1;
}
.header__container-head--logo img{
  width: 90px;
  transform: translateY(0);
}
#toggle-menu{
  position: fixed;
  top: 30px;
  right: 22px;
  z-index: 1;
}
.header__container-navbar__list{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 230px;
  display: grid;
  place-content: center;
  font-size: 1.8rem;
  text-align: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(-100%);
  transition: transform 1.5s;
}
.header__container-navbar__list li{
  width: auto;
  padding: 10px;
}
.list__menu-show{
  transform: translateY(0);
}


/*  */
.header__content{
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
}
.header__content-welcome{
  color: var(--gray);
}
.header__content-welcome p{
  font-size: 4rem;
}
.header__content-welcome h1{
  font-size: 8rem;
  color: var(--yellow);
}


/* Main  */

.main{
  height: auto;
  background-color: var(--black);
}

/* About Me */
.main__aboutme{
  width: 100%;
  height: 170vh;
  padding-top: 30px;
}
.main__aboutme-phrase{
  width: 90%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main__aboutme-phrase p{
  font-size: 2.5rem;
  font-family: 'Marck Script', cursive;
  text-align: center;
}
.main__aboutme-phrase p:nth-child(2){
  width: 100%;
  text-align: right;
  color: var(--gray);
}

/*  */

.main__aboutme-myself{
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main__aboutme-myself__info{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.main__aboutme-myself__info h2{
  font-size: 4rem;
  color: var(--yellow);
  margin-bottom: 50px;
}
.main__aboutme-myself__info p{
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 3.5rem;
}
.main__aboutme-myself img{
  width: 90%;
}

/* Main Projects */

.main__projects{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  border-radius: 40px;
  margin: 0 auto;
  overflow: hidden;
}
.main__projects-title{
  text-align: center;
  font-size: 4rem;
  color: var(--yellow);
  padding-bottom: 20px;
}
.main__projects .main__projects-container{
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(53, 53, 53);
  padding-bottom: 30px;
}
.main__projects-container .todo-app-gif{
  width: 95%;
  max-width: 542px;
}
.main__projects-container__img{
  width: 90%;
  max-width: 420px;
}
.main__projects-container__content{
  width: 100%;
  text-align: center;
}
.main__projects-container__content h3{
  font-size: 3.5rem;
  color: var(--yellow);
  margin-bottom: 20px;
}
.main__projects-container__content p{
  width: 90%;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 3rem;
  color: var(--gray);
  margin: 0 auto;
}
.main__projects-container__button{
  margin-top: 40px;
}
.main__projects-container__button button{
  width: 120px;
  height: 40px;
  font-size: 2rem;
  color: var(--yellow);
  background-color: black;
  border: 1px solid var(--yellow);
  border-radius: 40px;
  cursor: pointer;
}
.main__projects-container__button button:nth-child(1){
  background-color: var(--yellow);
  color: var(--black);
  margin-right: 20px;
}
.main__projects-container__button button:nth-child(2):hover{
  background-color: var(--yellow);
  color: var(--black);
  margin-right: 20px;
}

/* Main Skills */

.main__skills{
  width: 100%;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.main__skills-tittle{
  width: 100%;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 50px;
}
.main__skills button{
  background-color: var(--yellow);
  border: none;
}
.main__skills .left-button-slider, .right-button-slider{
  width: 30px;
  height: 60px;
  background-color: var(--yellow);
  cursor: pointer;
}
.slider-indicators-container{
  margin-top: 50px;
}
.main__skills-container{
  width: 80%;
  height: 250px;
}
.main__skills-container__skills .skill h3{
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
}
.main__skills-container__skills .skill{
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Footer */

.footer{
  position: relative;
  width: 100%;
  height: 620px;
  background-color: var(--light-black);
  padding-top: 60px;
}
.footer__title{
  font-size: 4rem;
  color: var(--gray);
  text-align: center;
  margin-bottom: 30px;
}
.footer__phrase{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  color: var(--gray);
  border-top:1px solid  var(--yellow);
}

.footer_contactme{
  width: 90%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.footer_contactme div a{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.footer_contactme div a:hover{
  transform: scale(1.2);
}
.footer_contactme div a img{
  width: 70px;
}
.footer_contactme div a p{
  width: 100%;
  font-size: 2.2rem;
  color: var(--gray);
  text-align: center;
  margin-top: 10px;
}

@media(min-width:768px) {
  #toggle-menu {
    display: none;
  }

  .header__container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  } 
  .header__container-head--logo{
    position: initial;
  }
  .header__container .header__container-head--logo img{
    width: 100px;
  }
  .header__container-navbar__list {
    height: 100%;
    position: initial;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    font-size: 1.8rem;
    color: var(--gray);
    transform: translateY(0);
    transition: none;
  }

  .header__container-navbar__list li {
    width: auto;
    margin-right: 10px;
    cursor: pointer;
  }
  .header__container-navbar__list li:hover{
    color: var(--yellow);
  }

  /*  */
  .header__content{
    width: 80%;
    height: 70%;
  }
  .header__content-welcome p{
    font-size: 5rem;
  }
  .header__content-welcome h1{
    font-size: 9rem;
  }

  /* about me */
  .main__aboutme{
    width: 100%;
    height: 120vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
    }
  .main__aboutme-phrase{
    width: 70%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  /*  */

  .main__aboutme-myself{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-areas: 'text img';
    grid-template-columns: 50% 50%;
  }
  .main__aboutme-myself__info{
    grid-area: text;
  }
  .main__aboutme-myself__info h2{
    font-size: 5rem;
  }
  .main__aboutme-myself img{
    grid-area: img;
    max-width: 500px;
  }

  /* main projects */
  .main__projects-title{
    font-size: 5rem;
    padding: 60px 0;
  }
  .main__projects .main__projects-container{
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   padding: none;
  }
  .main__projects-container .todo-app-gif{
    width: auto;
  }
  .main__projects-container__img{
    width: auto;
  }
  .main__projects-container__content{
    width: 100%;
  }

  /*  */
  .footer__title{
    font-size: 5rem;
  }
}

@media(min-width:1000px){
  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 9)), url('../images/portfolio-large.jpg');
    background-repeat: no-repeat;
    background-position: center;  
  }

  /*  */
  .main__aboutme-phrase{
    width: 60%;
    max-width: 660px;
    margin: 0 auto;
  }
  .main__aboutme-myself__info h2{
    font-size: 6rem;
  }

  /*  */
  
.main__projects{
  width: 90%;
}
.main__projects .main__projects-container{
  min-height: 500px;
  max-height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__projects-container__content{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.main__projects-container__content p{
  text-align: left;
  margin: 0;
}
}